/* CSS declarations go here */
html, body {
    height:100%;
    margin:0;

}
#messages {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.message-container {
    margin: 16px 0;
    flex: 0 1 30px;
}

.message-body {
    font-size: 16px;
    flex: 1 1 auto;
}

.message-heading {
    font-size: 16px;
    font-weight: bold;
}

.message-subheading {
    font-size: 14px;
    font-weight: 300;
    color: rgb(180,180,180);
}

.message-input {
    flex: 0 1 40px;
}

header {
    /*flex: 0 1 auto;*/
    width:80%;
    margin:auto;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    border: 1px solid #dfdfdf;
    border-radius: 50%;
    padding: 10% 10%;
}

header h1 {
    visibility: hidden;
    position: fixed;
}

header img {
    width:100%;
}

#login-button-home {
    background-color: #DCDCDD;
    padding: 6px 12px;
    width: 100px;
    margin: auto;
}

#login-button-home a {
    text-decoration: none;
    color: #4C5C68;
}

button {
    margin-top: 15px;
    background-color: #1985A1;
    color: #fff;
    text-transform: uppercase;
}

.btn_main {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btn_main:hover {
    background-color: #4C5C68;
}

.form-home {
    display: block;
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    margin-top: 20px;
}